/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

  article > * {
    margin-bottom: 15px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}

/* NAVEGACAO
  ------------------ */
header {
    height: 80px;
    overflow: hidden;
    align-items: center;
    border-bottom: 1px solid rgb(129, 129, 129);
}

header h1 {
    float: left;
    margin: 20px;
    padding-left: 70px;
}

header ul {
    float: right;
    list-style: none;
    margin: 30px;
    padding-right: 30px;
}

header li {
    display: inline;
    margin-left: 10px;
}

header li a {
    text-decoration: none;
    color: #333;
}

/* MAIN 
------------------------------*/

main {
    flex: 1;
    display: flex;
    margin: auto 30px;
}

main img{
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.img-desc {
    margin-bottom: 20px;
}
section {
    flex: 1;
    padding: 30px;
}

section a {
    color: #424242;
    text-decoration: none;
}

article {
    padding: 20px;
}
/* ASIDE
----------------------*/
aside {
    width: 20%;
    padding: 20px;
    margin: 45px 30px 0 0;
}

.aside-container{
    padding: 20px;
}
.search {
    padding: 3px;
}

.busca {
    border: 1px solid rgb(129, 129, 129);
    margin-bottom: 30px;
}

aside h1 {
    margin: 5px 0 20px 0;
}

.input-container {
    display: flex;
    width: 100%;
}

aside input {
    padding: 10px;
}

aside button {
    padding: 10px;
    background-color: #0000FF;
    color: #fff;
    border: none;
    cursor: pointer;
}

#input-container a{
    list-style: none;
    color: #000;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}

.tags-container p{
    display: inline-block;
    margin: 5px;
    background-color: #D8D8D8;
    padding: 5px;
}

footer{
    border-top: 1px solid rgb(129, 129, 129);
    align-items: center;
    justify-content: center;
    padding: 20px;

}

footer h1, p {
    text-align: center;
    margin: 10px;
}
